Source: hamonikr-info
Section: admin
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4
Homepage: https://hamonikr.org

Package: hamonikr-info
Architecture: amd64
Provides:
Depends: 
Conflicts: 
Replaces: hamonikr-info 
Breaks: 
Description: Necessary information about the HamoniKR release and edition.
 Base package. This package is needed by the HamoniKR system.
